.login{        
    margin-top: 100px;  
    margin-bottom: 100px;  
    margin-right:200px;  
    margin-left: 200px;  
    background-color: #DDDCDC;  
    color: black;  
    font-family: verdana;  
    font-size: 100%;  
}  

.login > h1 {  
    color: indigo;  
    font-family: verdana;  
    font-size: 100%;  
}  

.login > h3 {  
    color: indigo;  
    font-family: verdana;  
    font-size: 100%;  
}

body{          
    margin-right:200px;  
    margin-left: 200px;  
    background-color: #DDDCDC;  
    color: black;  
    font-family: verdana;  
    font-size: 100%;  
}  
            
h2 {  
    color: indigo;  
    font-family: verdana;  
    font-size: 100%;
    margin-left: 20px;
    margin-top: 25px;
}  
	
h1 {  
    color: indigo;  
    font-family: verdana;  
    font-size: 100%;
    margin-left: 20px;
}  
              
.header	{
    margin-top:-7px;
    background-color: white;
    font-family: verdana;  
    font-size: 100%;
    position: absolute;
    min-height: 70px;
    min-width: 1100px;
    box-shadow: 0px 5px 20px 0px #BDB9B9;
}
	
.lhs{
    position: absolute;
    max-width: 500px;
    margin-top: -22px;
}
	
.rhs{
    position: absolute;
    margin-left: 1000px;
    max-width: 500px;
}
	
.content{
    position: absolute;
    margin-top: 75px;
    background-color: white;
    min-width: 1100px;
    min-height: 1000px;         
}